

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,html {
	position:relative;
	padding-bottom:0;
	height:100%;
	width:100%;
}

h1,p,div,td,.btn {
  font-family: "sofia-pro-soft",sans-serif;
  font-weight:300;
  color:#fff;
}

h1 {
	text-shadow: 0px 0px 2px rgba(0,0,0,1);
}

h1 sup {
	font-size:50%;
	top: -1em;
}

.background {
	height:100%;
	width:100%;
	position:absolute;	
	background-size:cover;
	background-position:top left;
	background-repeat:no-repeat;
	background-image: url(../img/background-tiles-2.png);
	left:0;
	right:0;
	top:0;
	bottom:0;
}

a {
	transition: all 300ms;
	-webkit-transtiion: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	color:#fff;
}

a:hover {
	color: inherit;
}

p.lead:last-child {
	margin-bottom:0;
}

.container-enter {
	position:relative;	
	display:none;
	z-index:4;
	opacity:0;
	height:auto;
}

.container-enter,.reveal-success .container,.reveal-failure .container {
	background-color:#006699;
	background-image: url(../img/33948679_ml.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	text-shadow:0px 0px 2px rgba(0,0,0,1);
	position:relative;
}

.container-overlay {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:2;
	background-color:rgba(0,0,0,0.25);
}

.container-contents {
	z-index:800;
}
.container-enter .queen-mary {
	height:50%;
	position:absolute;	
	top:10%;
	bottom:0;
	right:0;	
	margin: auto;
}

.container-enter .artists {
	z-index:700;
	position:absolute;	
	bottom:80%;
}

.container-enter .page-copy {
	z-index:800;
	position:relative;	
}

.page-copy h1 {
	margin-top:5px;
}

.logos {
	margin-bottom:10px;
	z-index:800;
}

.footer {
	z-index: 800;
}

.footer a {
	font-size:1.4em;
}

.reveal {
	display:none;
	opacity:0;
	z-index:4;
}

.cta {
	margin-bottom:15px;
	z-index:800;
}

.cta:firt-child {	
	position:relative;
	display:block;
	margin: 0 auto;
}

.btn {		
	text-transform:uppercase;
	font-size:1.9em;
	letter-spacing: 0.04em;
	font-weight:700;
	padding:20px;
}

.text-smaller {
	top:-2px;
	font-size:0.6em;
}